SQUIGLINK_AUTHENTICATION_EMAIL=placeholder
# JWT_SECRET should be a random string, you can generate one with `openssl rand -hex 32`
SQUIGLINK_JWT_SECRET=placeholder
SQUIGLINK_POSTGRES_PASSWORD=placeholder
SQUIGLINK_POSTGRES_USER=placeholder
SQUIGLINK_RESEND_API_KEY=placeholder
