name: CI

on:
  push:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: go-task/setup-task@v1

      - run: cp .env.example .env
      - run: export $(sed 's/#.*//' .env)

      - run: task install-dependencies
      - run: task migrate-test

      - run: task check
