name: CI

on:
  push:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: go-task/setup-task@v1

      - run: cp .env.example .env
      - run: export $(sed 's/#.*//' .env)

      - run: task install-dependencies
      - run: task database-create-test
      - run: task database-migrate-test

      - run: task check
